parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    ignoreErrors:
        - '#Casting to .+ something that.s already .+\.#'
        # Unusual argument definition where param can either be Zend_Config|array or ...$args (if first param isn't Zend_Config|array)
        - '#PHPDoc tag @param references unknown parameter \$charSet#'
        # No stub for these yet
        - '#Function lzf_compress not found\.#'
        - '#Function lzf_decompress not found\.#'
        - '#Zend_Filter_.+::__construct\(\) does not call parent constructor from Zend_Filter_.+\.#'
        - '#Variable \$file might not be defined\.#'
        - '#Parameter \#1 \$p_filelist of method Archive_Tar::create\(\) expects array, array\|string given\.#'
        - '#Parameter \#3 \$locale of static method Zend_Locale::getTranslation\(\) expects string\|Zend_Locale\|null, array given\.#'
