parameters:
    level: 2
    paths:
        - ./
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        # Unusual argument definition where param can either be Zend_Config|array or ...$args (if first param isn't Zend_Config|array)
        - '#PHPDoc tag @param references unknown parameter: \$charSet#'
        # No stub for these yet
        - '#Variable \$file might not be defined\.#'
        -
            message: '#Function mcrypt_enc_get_supported_key_sizes not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_list_algorithms not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_list_modes not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_module_self_test not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_enc_get_iv_size not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_create_iv not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_generic not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_generic_deinit not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mdecrypt_generic not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_generic_deinit not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_module_open not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_module_close not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_enc_get_key_size not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1
        -
            message: '#Function mcrypt_generic_init not found\.#'
            path: src/Zend/Filter/Encrypt/Mcrypt.php
            count: 1